services:
  - type: web
    name: blog-app
    env: ruby
    region: singapore
    plan: free
    buildCommand: "./bin/render-build.sh"
    startCommand: "bundle exec puma -C config/puma.rb"
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: red-velvet-blog-db
          property: connectionString
      - key: RAILS_MASTER_KEY
        sync: false
      - key: RAILS_ENV
        value: production
      - key: BUNDLE_WITHOUT
        value: development:test
      - key: WEB_CONCURRENCY
        value: 2

databases:
  - name: blog-app-db
    databaseName: blog_app_production
    user: blog_user
    plan: free
    region: singapore